* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: lightblue;
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    list-style-type: none;
    font-size: 12px;
}

nav>ul>li {
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s linear;
}

nav>ul>li:hover {
    color: white;
    transition: all 0.5s linear;
}